<div class="menu">
  <a class="pages"  routerLink="">Головна</a>
  <a class="pages"  routerLink="pomeshkannya">Помешкання</a>
  <div class="pagesTwo">
    <div class="undermenuOne">
  <a class="undermenu" routerLink="uviyty">Увійти</a>
    </div>
  <br>
    <div class="undermenuTwo">
  <a class="undermenu" routerLink="zareyestruvatys">Зареєструватись</a>
  </div>
  </div>
  <div class="userPage"><a class="userPageLink" routerLink="userkabinet"><img src="user.picture"></a></div>
</div>
<router-outlet></router-outlet>
<div class="ContactInfo">kontactni danni
</div>

